* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(2, 2, 12);
}
.container {
}
.content {
  padding: 0 6rem;
}
.nav {
  background: rgba(2, 2, 12, 0.747);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 3vw;
  padding: 2.5rem 5rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 29px;
  color: #efefef;
  text-align: left;
}
.navItems {
  cursor: pointer;
}
.navItems:hover {
  color: rgb(33, 60, 238);
  scale: 1.15;
  transition: all 0.6s;
}
.navItems:active {
  color: rgb(33, 60, 238);
}
/* banner */
.banner {
  display: flex;
  gap: 4vw;
  padding: 12vw 5rem;
}
.banner .info {
  width: 63.8vw;
}
.header {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6vw;
  line-height: 80px;
  color: #efefef;
  width: 30vw;
  transition: transform 0.6s ease;
}
.header:hover > .wobble {
  transform: translateX(2rem);
}
.wobble {
  /* animation: blink 0.7s infinite; */
}
.desc {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  /* width: 38vw; */
  font-size: 1.458vw;
  line-height: 30px;
  padding: 2rem 0 2.6rem;
  /* Dark Color */

  color: #efefef;
}
/* .button2 {
    background: white;
    color: rgb(33, 60, 238);
    /* color: #efefef; */
/* border-radius: 10px; */
/* border: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 29px;
  padding: 1rem 1.5rem;
  transition: transform .2 ease;   */
/* 
.button2:active{
    transform: scale(0.96);
} */

.button {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  background: rgb(33, 60, 238);
  border-radius: 10px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 29px;
  padding: 1rem 1.5rem;
  color: #ffffff;
  border: none;
  /* width: 11vw;    */
  text-align: center;
  user-select: none;
  animation: popIn 0.6s ease-out forwards;
  opacity: 0;
  animation-delay: 4s;
}

.button:hover {
  transform: translateY(-3rem);
}
.button:active {
  transform: scale(0.96);
  transition: transform 0.2s ease;
}
.imgSection {
  display: inline-block;
  perspective: 600px;
}
.card {
  /* position: relative; */
  /* width: 100%; */
  height: 21vw;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border-radius: 50%;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  background-color: rgb(23, 26, 31);
}

.card__face {
  /* position: absolute; */
  /* width: 100%; */
  height: 2vw;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}
.card .back-side {
  /* background: slateblue; */
  transform: rotateY(180deg);
}
.profile {
  width: 21vw;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
a {
  text-decoration: none;
  color: white;
}
/* about */
.about{
    overflow: hidden;
}
.aboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  padding: 5rem 0;
}
.heading {
  text-align: center;
  color: #efefef;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6vw;
}
.info {
  color: #efefef;
  font-family: "Heebo";
}
.aboutContent h3 {
  font-size: 2.1vw;
  color: white;
  font-family: "Heebo";
  margin-bottom: 1rem;
}
.info p {
  color: #efefef;
  font-family: "Heebo";
  margin: 1.5rem 0;
  line-height: 1.8vw;
  font-size: 1vw;
}
.info .bold {
  font-weight: 700;
}
.contact {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  background: rgb(33, 60, 238);
  border-radius: 10px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 29px;
  padding: 1rem 1.5rem;
  color: #ffffff;
  user-select: none;
  border: none;
  transition: transform 0.2s ease;
}
.contact:active {
  transform: scale(0.96);
}
.skillsContent {
  display: flex;
  flex-wrap: wrap;
}
.skillsContent2 {
  display: none;
}
.skillsContent .skillItem {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.5vw;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #efefef;
  font-family: "Heebo";
}

/* contactus */

.contactUs {
  padding: 5rem 0 2rem;
}

.contactUs h3 {
  text-align: center;
  color: #efefef;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6vw;
  margin-bottom: 2rem;
}

.contactUs p {
  color: #efefef;
  font-family: "Heebo";
  font-size: 1.5vw;
}
.contactUsCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vw;
}

.contactUsCont .pic {
  width: 45vw;
}

form {
  padding: 8rem 0;
}
form .textFields {
  display: flex;
  gap: 2vw;
  padding: 2rem 0;
}
input {
  background: rgb(187, 194, 255,0.2);
  font-family: "Heebo";
  font-size: 1.2vw;
  border: none;
  position: relative;
}
input::after {
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  content: "";
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
  border-top: 5px solid rgb(33, 60, 238);
}
input:hover::after {
  right: 0;
}
input::placeholder, textarea::placeholder {
  color: white;
  font-family: "Heebo";
}
input:focus,textarea:focus{
    background:rgb(187, 194, 255) ;
    
}
input:focus{
    color: rgb(50, 50, 50);
    font-weight: 500;
}

input,
textarea:focus-visible {
  outline: none;
}
textarea {
  background: rgb(187, 194, 255,0.2);
  width: 39vw;
  color: #ffffff;
  height: 9vw;
  font-size: 1.2vw;
  border: none;
  padding: 0.5rem;
  font-family: "Heebo";
}
textarea:focus{
    color: rgb(50, 50, 50);
    font-weight: 500;
}
form .name {
  height: 3.2vw;
  width: 18vw;
  padding: 0.4rem;
}
form .email {
  height: 3.2vw;
  width: 18vw;
  padding: 0.4rem;
}
form .submitBtn {
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  background: rgb(33, 60, 238);
  border-radius: 10px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 29px;
  padding: 1rem 1.5rem;
  color: #ffffff;
  user-select: none;
  border: none;
  transition: transform 0.2s ease;
  margin: 2rem 0;
  /* width: 12vw; */
}
form .submitBtn:active {
  transform: scale(0.96);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    flex-direction: column-reverse;
  }
  .content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
  }
  .header {
    width: 55vw;
    font-size: 6.5vw;
    text-align: center;
    line-height: 28px;
  }
  .desc {
    text-align: center;
    font-size: 3.458vw;
    line-height: 22px;
    padding: 2rem 0;
  }
  .button {
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 5.7vw;
    margin: 1rem 0;
    animation-delay: 4.5s;
  }
  .profile {
    width: 35vw;
  }
  .nav {
    display: none;
  }
  .about {
    padding: 2rem 0;
  }
  .aboutContent {
    display: block;
    padding: 2rem 0;
  }
  .heading {
    font-size: 10vw;
  }
  .aboutContent h3 {
    font-size: 4.5vw;
    text-align: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info p {
    line-height: 5.9vw;
    font-size: 2.9vw;
    margin-bottom: 0.8rem;
  }
  .contact {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 6.7vw;
    margin: 1rem 0;
  }
  .skillsContent {
    display: none;
  }
  .skillsContent2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5vw;
  }
  .skillsContent2 .skillItem {
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 3.5vw;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    text-align: center;
    color: #efefef;
    font-weight: 600;
    font-family: "Heebo";
  }
  .skillItem:nth-child(7) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills {
    margin: 1rem 0;
    overflow: hidden;
  }
  .skillsContent {
    margin-top: 2rem;
  }
  /* contact */
  .contactUs {
    padding: 1rem 0;
  }
  .contactUs h3 {
    font-size: 10vw;
  }
  .contactUs p {
    line-height: 5.9vw;
    font-size: 2.9vw;
    text-align: center;
  }
  form {
    padding: 0rem;
  
  }
  .contactUsCont {
    flex-direction: column-reverse;
    gap: unset;
    margin: 2rem 0;
    align-items: center;
  }
  .contactUsCont .pic {
    width: 35vw;
    display: none;
  }
  form .textFields {
    flex-direction: column;
    gap: 11vw;
  }

  form .name,
  form .email {
    height: 7.2vw;
    width: 100%;
  }

  input {
    font-size: 5vw;
  }
  textarea {
    height: 11vh;
    width: 100%;
    font-size: 5vw;
  }
  form .submitBtn {
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 4.7vw;
    justify-content: center;
  }
}
